$font-one: 'Montserrat', sans-serif;
$font-two: 'Roboto Slab', serif;
$font-three: 'Source Serif Pro', serif;

/* Global */
.mon {
  font-family: $font-one;
  font-weight: 800;   

}
.roboto {
  font-family: $font-two;
  font-weight: 200; 
}
.serif {
  font-family: $font-three;
  font-style: italic;
}

h1 {
  font-size: 120px;
}

h2 {
  font: $font-one;
  font-weight: 800;   
  font-size: 50px;
  color: #000;
}

h3 {
  font-size: 20px;
}



/*  Home */

