$font-one: 'Montserrat', sans-serif;
$font-two: 'Roboto Slab', serif;
$font-three: 'Source Serif Pro', serif;
$color-two: #fed136;

/* Global */

.mon {
  font-family: $font-one;
  font-weight: 800;
  text-align: center;  
}
.roboto {
  font-family: $font-two;
  font-weight: 200; 
  text-align: center;
}
.serif {
  font-family: $font-three;
  font-style: italic;
  text-align: center;
}
.h1 {
  font-size: 85px;
}
.h2 {
  font: $font-one;
  font-weight: 800;   
  font-size: 45px;
  color: #000;
}
.h3 {
  font-size: 22px;
}
.h4 {
  font-size: 19px;
}
.h5 {
  font-size: 18px;
  color: #464646;
}
/*  Home */

.splash {
  height: 100vh;
  position: relative;
  background-image: url('https://s6.ifotos.pl/img/headerjpg_qsswpxq.jpg');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
.splash-inner {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.serif-white {
  color: #fff;
  font-weight: 400; 
}
.btn-yellow {
  background-color: $color-two;
  color: #fff;
  padding: 28px 55px;
}

/* Portfolio */

i {
  color: $color-two;
  border-width: 3px;
  border-style: solid;
  border-color: $color-two;
  border-image: initial;
  border-radius: 50%; 
  padding: 6% 5% 6% 5%; 
}

/* Footer */

.mon-footer {
  font-family: $font-one;
  font-weight: 700;
  text-align: left;  
  font-weight: bold;
  color:#000;
}
.footer-icon {
  font-size: 30px;
  background: #000;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  border-width: 0px;
}

/* Media */

@media (max-width: 767px) {
  .h1 {
    font-size: 55px;
  }
  .h2 {  
    font-size: 30px;
  }
  .h4 {
    font-size: 25px;
  }
}